@model PlatDiplom.Models.PlatModel.PlatForDNView
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true"> X </button>

        <h4>Create registry </h4>

    </div>
    <div class="modal-body">

        @if (Model.Payments.Count() != 0)
        {
            <table class="table table-bordered" id="PartialTable">
                <thead>
                    <tr style="position:sticky; top:80px;">
                        <th>id</th>
                        <th>Payment</th>
                        <th>sum</th>

                    </tr>
                </thead>
                <tbody>

                
                        @{var i = 1;
                            foreach (var item in Model.Payments)
                            {
                                
                                <tr id="@Html.DisplayFor(model => item.id_plat)" class="id_plat">
                                    <td >@i	</td>
                                    <td>	@Html.DisplayFor(model => item.PurOfPayment)</td>
                                    <td>	@Html.DisplayFor(model => item.sum)</td>
                                </tr>
                                i =i+ 1;
                            }
                        }
                    </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>Сумма счета</td>
                        <td class="PlatSum"><b>@Html.DisplayFor(model => model.SelectedSum)</b></td>
                    </tr>

                </tfoot>
            </table>
            <input type="button" class="btn btn-success" value="GenDN" id="GenDN">
            @Html.ActionLink("GenDN", "genDn", "GenDocument", null, new { platList = Model.Payments })
        }


    </div>
</div>

<script>
    $(`#GenDN`).click(function () {

      $('table td').each(function(key){
	    console.log(key);
	    var id2 = $(this).attr('id'); 
      });


        var checkedElements = $('#PartialTable tr.id_plat');
        // alert(checkedElements);
       
        var resList = [];
        checkedElements.each(function (i) {
            resList.push({ Id: checkedElements.eq(i).attr('id') })
        });
      console.log(resList);
        alert(resList);

        $.ajax({
            type: `POST`,
            url: `/GenDocument/GenDN`,
            data: {
                platList: resList 
            },
            success: function (data) {
              
                alert("Сделаль!");

            },
            error: function (err) {
                console.log(err);
            }
        });
    });
</script>
